.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.User-list-body {
  display: flex;
  flex-direction: column;
   align-items: center;
}

.list-component {
  width: 300px; 
  margin: 5px;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

.nameHomework {
  color: blue;
  text-align: center;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.li {
  display: flex;
  width: 100px;
  margin: 5px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  border-bottom: 1px solid green;
}

.li :hover {
  transform: scale(1.2,1.2);
}

.li > a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}